
/Build
/.vs
/AutoPatcherAdmin/obj
/Client/obj
/Components/Debug
/Controls/FixedListViewControl/obj
/LibraryEditor/obj
/Server.MirForms/obj
/Server/bin
/Server/obj
/Shared/bin
/Shared/obj
/MapEditor/.vs
/MapEditor/Map Editor/obj
/ATZEditor/.vs
/ATZEditor/bin
/ATZEditor/obj
